<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
</head>

<body>
    <nav>
        <ul >
            <li><a href="/">DATA DETECTION </a></li>
        
        </ul>
    </nav>
    <div class="ManagePage">
        <div class="sideBar">
            <div class="title">DATA LEAK DETECTOR</div>
        <ul>
            <li><a href="">DASHBORD</a></li>
            <li><a href="">MANAGE USERS</a></li>
            <li><a href="">MANAGE DATA</a></li>
            <li><a href="">ABOUT PAGE</a></li>
        </ul>
        </div>
        
        <div class="content">
            <div class="togglebtn">
                <span></span>
                <span></span>
                <span></span>

            </div>
            {% block content %}
            {% endblock %}
        </div>



    </div>


    <script>
        document.querySelector(".togglebtn").addEventListener('click',()=>{
           document.querySelector(".content").classList.toggle("toogleSideBar")

        })
    </script>
   
</body>

</html>