<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
</head>
<body>
<form action="/create_account" method="POST">
    CREATE ACCOUNT
    <div class="errorClass">
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    </div>

    <div class="inputs">
        <input type="text" placeholder="Firstname" name="firstname">
        <input type="text" placeholder="Lastname" name="lastname">
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="password" name="password">
        <select name="selectLevel" id="SelectROle">
            <option value="">--SELECT ROLE--</option>
        </select>
        <button class="leobtn">Register</button>
        <input type="button" class="login" id="tobtn" value="ALREADY HAVE AN ACCOUNT">
    </div>



</form>
    
    <script>
        let selectEmalemt=document.getElementById("SelectROle");
        let OptionList=[
        {
            "value": "stuff",
            "label": "stuff",

        }
        , {
                "value": "user",
                "label": "User",

            }
            
           
        ]
        OptionList.forEach(options=>{
            const option = document.createElement('option');
            option.value=options.value
            option.label=options.label
            selectEmalemt.append(option)


        })
          document.getElementById("tobtn").addEventListener('click', () => {
                location.href = "http://127.0.0.1:5000/login"
            })



    </script>

</body>
</html>