<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css//LandingPage.css">
    <title>Document</title>
</head>
<body>
    <div class="banner">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, soluta sequi hic sunt quibusdam qui. Harum dolores unde
    possimus maxime? Dolore sunt soluta qui culpa, illum molestiae quia ducimus unde!</div>
    <div>
        <button class="leobtn" id="landpgbtn">log in</button>
    </div>
    <script>
document.getElementById("landpgbtn").addEventListener('click',()=>{
    location.href="http://127.0.0.1:5000/login"


})
    </script>
</body>
</html>